<section class="mt-10">
  <div
    class="container bg-white rounded-lg shadow-lg border border-gray-300 p-4 max-w-3xl"
  >
    <h2 class="text-3xl">Change Password.</h2>

    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="submitForm()"
      class="grid gap-y-4 mt-2"
    >
      <!-- password -->
      <div class="relative">
        <input
          #showPass
          [class]="{
            'border-green-700': changePasswordForm.get('password')?.valid,
            'border-red-700':
              changePasswordForm.get('password')?.invalid &&
              changePasswordForm.get('password')?.touched,
          }"
          formControlName="password"
          type="password"
          id="password"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="password"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto inset-s-1"
          >Password</label
        >
        <span
          (click)="showPassword(showPass)"
          class="absolute top-1/2 inset-e-4 -translate-y-1/2 cursor-pointer"
        >
          <i
            [class]="showPass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'"
            class="fas"
          ></i>
        </span>
      </div>
      @if (
        changePasswordForm.get("password")?.invalid &&
        changePasswordForm.get("password")?.touched
      ) {
        <div
          class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
              @if (changePasswordForm.get("password")?.hasError("required")) {
                <li>Password is required.</li>
              } @else if (
                changePasswordForm.get("password")?.hasError("pattern")
              ) {
                <li>
                  Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1
                  number, and 1 special
                </li>
              }
            </ul>
          </div>
        </div>
      }

      <!-- New Password -->
      <div class="relative">
        <input
          #showNewPass
          [class]="{
            'border-green-700': changePasswordForm.get('newPassword')?.valid,
            'border-red-700':
              changePasswordForm.get('newPassword')?.invalid &&
              changePasswordForm.get('newPassword')?.touched,
          }"
          formControlName="newPassword"
          type="password"
          id="newPassword"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="newPassword"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto inset-s-1"
          >Confirm Password</label
        >
        <span
          (click)="showPassword(showNewPass)"
          class="absolute top-1/2 inset-e-4 -translate-y-1/2 cursor-pointer"
        >
          <i
            [class]="
              showNewPass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'
            "
            class="fas"
          ></i>
        </span>
      </div>
      @if (
        changePasswordForm.get("newPassword")?.invalid &&
        changePasswordForm.get("newPassword")?.touched
      ) {
        <div
          class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
              @if (
                changePasswordForm.get("newPassword")?.hasError("required")
              ) {
                <li>Password is required.</li>
              } @else if (
                changePasswordForm.get("newPassword")?.hasError("pattern")
              ) {
                <li>
                  Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1
                  number, and 1 special
                </li>
              }
            </ul>
          </div>
        </div>
      }

      <button
        type="submit"
        class="bg-mainColor py-1.5 rounded text-white cursor-pointer disabled:bg-gray-400 disabled:cursor-not-allowed"
      >
        Save
        @if (loading) {
          <i class="fas fa-spinner fa-spin animate-spin"></i>
        }
      </button>
      @if (msgError) {
        <p
          class="text-center text-red-700 bg-red-300 p-2 w-1/2 mx-auto capitalize"
        >
          {{ msgError }}
        </p>
      }
    </form>
  </div>
</section>
